@import 'https://fonts.googleapis.com/css?family=Montserrat+Alternates';
@import 'https://fonts.googleapis.com/css?family=Space+Mono';
@import 'https://fonts.googleapis.com/css?family=Dancing+Script';

/**{
box-sizing: border-box;
}*/
body{
	background-image: url(../img/pentagon.png);
	background-repeat: repeat;
}
body, h1, h3, p{
	font-family: 'Montserrat Alternates', sans-serif;
	
}
h1, h3{
	text-shadow: 2px 2px grey;
	color: #02112E;
}
p{
	color: #02112E;
}
.container{
	text-align: center;
	padding-top: 75px;
}
hr{
	width: 50%;
	border-bottom: 1px solid grey;
}
.quote-box{
	border: 1px solid #1C6902;
	border-radius: 14px;
	padding: 15px;
	margin-bottom: 15px;
	max-height: auto;
	background: #D9F7D0;
}
.btn-lg, .btn-group-lg > .btn {
    width: 175px;
    margin: 10px
  }
  .signature{
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
}
.end-note{
	text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 8px;
  padding-left: 20px;
  padding-top: 30px;
  width: 100%;
  float: left;
  height: 80px;
}
/********* Extra small devices **********/
@media (max-width: 767px){
	.container{
		padding-top: 20px;
	}
	}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container{
		padding-top: 30px;
	}
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){
	.container{
		padding-top: 30px;
	}
}


.hero h1{
	color: white;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	padding-top: 150px;
}
.hero p{
	color: white;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	text-shadow: 2px 2px black;
	font-size: 2em;
}





/********** Large devices only **********/
@media (min-width: 1200px){
.hero{
	background: url(http://res.cloudinary.com/default-ek/image/upload/e_brightness:0/v1469635008/coding-924920_1920_x2ewov.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
	max-height: 800px;
}
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){
	.hero{
		background: url(http://res.cloudinary.com/default-ek/image/upload/c_scale,w_1200/v1469635008/coding-924920_1920_x2ewov.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
		max-height: 550px;
	}
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.hero{
		background: url(http://res.cloudinary.com/default-ek/image/upload/c_scale,w_768/v1469635008/coding-924920_1920_x2ewov.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
	}
}
/********* Extra small devices **********/
@media (max-width: 767px){
	.hero{
		background: url(http://res.cloudinary.com/default-ek/image/upload/c_scale,w_768/v1469635008/coding-924920_1920_x2ewov.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 350px;
	}
	.hero h1 p{
		font-size: 5vw;
	}
}
